name: memo
description: An open-source, programming-oriented spaced repetition application.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none"

version: 0.2.0+0

environment:
  sdk: ">=2.13.0 <3.0.0"
  flutter: ">=2.4.0-4.2.pre"

dependencies:
  flutter:
    sdk: flutter

  ###
  # Core
  ###
  meta: ^1.3.0
  equatable: ^2.0.0
  path: ^1.8.0
  path_provider: ^2.0.0
  url_launcher: ^6.0.3
  package_info: ^2.0.0
  firebase_core: ^1.4.0
  firebase_crashlytics: ^2.1.1
  firebase_analytics: ^8.2.0

  ###
  # Database & Storage
  ###
  sembast: ^3.0.0
  uuid: ^3.0.0

  ###
  # State Management
  ###
  flutter_riverpod: ^0.13.0

  ###
  # UI
  ###
  layoutr: ^1.0.0

  flutter_hooks: ^0.16.0
  hooks_riverpod: ^0.13.0

  # Keep dependency locked, as we need it to be the exact same in `memo-editor`
  flutter_quill:
    git:
      url: https://github.com/singerdmx/flutter-quill
      ref: beta

dev_dependencies:
  flutter_test:
    sdk: flutter

  ###
  # Lint
  ###
  strict: ^1.2.0

  ###
  # Testing
  ###
  mocktail: ^0.1.0

  ###
  # Icon auto-generator
  ###
  flutter_launcher_icons: "^0.9.0"

  ###
  # Splash Screen auto-generator
  ###
  flutter_native_splash: "^1.1.8"

flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/
    - assets/collections/
    - assets/images/icons/
    - assets/images/illustrations/
    - assets/licenses/

  fonts:
    - family: RobotoMono
      fonts:
        - asset: assets/fonts/RobotoMono-Thin.ttf
          weight: 100
        - asset: assets/fonts/RobotoMono-ExtraLight.ttf
          weight: 200
        - asset: assets/fonts/RobotoMono-Light.ttf
          weight: 300
        - asset: assets/fonts/RobotoMono-Regular.ttf
          weight: 400
        - asset: assets/fonts/RobotoMono-Medium.ttf
          weight: 500
        - asset: assets/fonts/RobotoMono-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/RobotoMono-Bold.ttf
          weight: 700

flutter_icons:
  image_path: "assets/icon.png"
  android: true
  ios: true

flutter_native_splash:
  image: assets/images/illustrations/logo.png
  color: 1F1D28
  # `flutter_native_splash` uses a less optimal method to create the splash screen that delays images placed in the
  # `LaunchScreen` for a few seconds. We've manually fixed this issue by placing `logo.png` as an iOS resource in the
  # PBX file.
  # More information can be found at: https://developer.apple.com/forums/thread/19759
  ios: false
  web: false
