# Triggers on all changes committed to Pull Requests pointing to `main` branch
name: Pull Request Workflow

on:
  pull_request:
    branches:
      - main

env:
  flutter_version: "2.0.6"
  java_version: "12.x"

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # Setup Java SDK with version `env.java_version`, required by Flutter to build the Android app
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: ${{ env.java_version }}

      # Setup Flutter SDK with version `env.flutter_version`
      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ env.flutter_version }}

      # Run pre-requisites to build both applications (iOS and Android)
      - name: Clean, Analyze and run tests
        run: |
          flutter clean
          flutter analyze .
          flutter test test

        # Build iOS app in production environment without code sign
      - name: Build iOS App
        run: flutter build ios --release --dart-define=ENV=PROD --no-codesign

      # Build Android app in production environment without signing the appbundle
      - name: Build Android App
        run: flutter build appbundle --release --dart-define=ENV=PROD
        env:
          IS_SIGNING_ENABLED: false
